body {
  padding-top: 56px;
  background: #141516;
}

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
}

.highlight-color {
  height: 30px;
}

.label:hover{
  color: blue;
  cursor: pointer;
}

.label-selected {
  border-color: black;
  border-width: 3px;
}

.annotation {
  color: black;
  text-decoration: none;
}

.hwt-content .red {
  background-color: red;
}

.hwt-content .blue {
	background-color: skyblue;
}

.hwt-content .yellow {
	background-color: yellow;
}
.hwt-content .green {
  background-color: limegreen;
}

.hwt-content .orange {
    background-color: orange;
}