.hwt-content {
  width : 720px;
  height: 480px;
}

.hwt-content .red {
  background-color: red;
}

.hwt-content .blue {
	background-color: skyblue;
}

.hwt-content .yellow {
	background-color: yellow;
}
.hwt-content .green {
  background-color: limegreen;
}

.hwt-content .orange {
    background-color: orange;
}

.left_panel {
    margin-right: 50px;
}

.labels {
    margin-bottom: 50px;
}

.left_panel h1 {
    text-align: center;
}

.left_panel div {
    border-style: solid;
    border-color: black;
    border-width: thin;
}

.highlighter {
    text-align: center;
}