<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>TAG Annotator</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Custom styles for this template -->
  <link href="{% static "css/styles.css" %}" rel="stylesheet">
  <link href="{% static "node_modules/highlight-within-textarea/jquery.highlight-within-textarea.css" %}"
    rel="stylesheet">
</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">TAG</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <!-- Labels -->
  <div id="content-body" class="container-fluid">
    <div class="row">
      <div class="col-lg-2">
        <div class="sticky">
          <div class="my-2 row bg-light rounded-lg">
            <div class="col-lg-12 mt-2 mb-3">
              <h2 class="mt-3">Labels
                <div id="add-label" class='add-btn' style="float: right;">+</div>
              </h2>
              <hr>
              <div id="label-list" class="list-group hide-scroll"></div>  <!-- Important -->
            </div>
          </div>
          <div class="my-3 row bg-light rounded-lg">
            <div id="Documents" class="col-lg-12 mt-2 mb-3">
              <h2 class="mt-3">Documents
                <div id="add-document" class='add-btn' style="float: right;">+</div>
                <input type="file" id="fileInputControl" accept="text/plain" style="display: none;">
              </h2>
              <hr>
              <div id="doc-list" class="ml-2 hide-scroll"></div> <!-- Important -->
            </div>
          </div>
          <div id="export-container" class="my-3 row">
            <div class="col-lg-3"></div>
            <button id="download" type="button" class="btn btn-primary col-lg-6">Download</button>
            <a id="download_link" download="annotations.json" href=”” ></a>
            <div class="col-lg-3"></div>
          </div>
        </div>
      </div>
      <!-- /.col-lg-2 -->

      <!-- Center Highlight Area -->
      <div class="col-lg-8">
        <div class="container">
          <div class="border rounded-lg my-2 bg-light">
            <div id="content" class="my-5 mx-4">
              <textarea id="doc-view" readonly="true"></textarea>
            </div>
          </div>
        </div>
      </div>
      <!-- /.col-lg-8 -->

      <!-- Annotations -->
      <!-- Annotations -->
      <div class="col-lg-2">
        <div class="sticky">
          <div class="my-2 row bg-light rounded-lg">
            <div class="col-lg-12 mt-2 mb-3 mx-2">
              <h2 class="mt-3">Most Recent Highlight</h2>
              <hr>
              <div class="annotation">
                <p id="recent"></p>
              </div>
            </div>
          </div>
          <div class="my-3 row bg-light rounded-lg">
            <div id='anno-list' class=" col-lg-12 mt-2 mb-3 mx-2">
              <h2 class="mt-3">Annotations</h2>
              <hr>
            </div>
          </div>
        </div>
      </div>
      <!-- /.col-lg-2 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-2 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; TAG (Temple University) 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="{% static "node_modules/highlight-within-textarea/jquery.highlight-within-textarea.js" %}"></script>
  <script src="{% static "js/classes/annotation.js" %}"></script>
  <script src="{% static "js/classes/category.js" %}"></script>
  <script src="{% static "js/classes/doc.js" %}"></script>
  <script src="{% static "js/classes/tagmodel.js" %}"></script>
  <script src="{% static "js/app.js" %}"></script>
</body>

</html>
